## Observations and Insights

In [214]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
path_mouse_metadata = "data/Mouse_metadata.csv"
path_study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(path_mouse_metadata)
study_results = pd.read_csv(path_study_results)

# Combine the data into a single dataset
merged_data_df = study_results.merge(mouse_metadata,)
# Display the data table for preview

merged_data_df.head(5)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [215]:
# Checking the number of mice.
num_mice = len(pd.unique(merged_data_df['Mouse ID']))

num_mice

249

In [216]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
# Optional: Get all the data for the duplicate mouse ID. 
mouse_counts = merged_data_df['Mouse ID'].value_counts()
dupemouse = mouse_counts.index[0]

#return the duped mouse's ID
dupemouse

'g989'

In [217]:
#show the duped mouse's dataframe
duped_df = merged_data_df.loc[lambda merged_data_df: merged_data_df['Mouse ID']==dupemouse]
                              
duped_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
860,g989,0,45.000000,0,Propriva,Female,21,26
861,g989,0,45.000000,0,Propriva,Female,21,26
862,g989,5,48.786801,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
864,g989,10,51.745156,0,Propriva,Female,21,26
865,g989,10,49.880528,0,Propriva,Female,21,26
866,g989,15,51.325852,1,Propriva,Female,21,26
867,g989,15,53.442020,0,Propriva,Female,21,26
868,g989,20,55.326122,1,Propriva,Female,21,26
869,g989,20,54.657650,1,Propriva,Female,21,26
870,g989,25,56.045564,1,Propriva,Female,21,26
871,g989,30,59.082294,1,Propriva,Female,21,26
872,g989,35,62.570880,2,Propriva,Female,21,26

In [218]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
#first set the multi-index of the merged dataframe
merged_data_df.set_index(['Mouse ID','Drug Regimen'],inplace=True)

#remove all values that use the duped mouse's ID
merged_data_df.drop(labels=dupemouse,level=0, inplace=True)

#verify that the dupelicated mouse was removed
dupemouse in merged_data_df.index

False

In [213]:
# Checking the number of mice in the clean DataFrame.
num_mice = len(pd.unique(merged_data_df.index.levels[0]))

num_mice

249

In [219]:
#show the new table
merged_data_df.head(10)

                       Timepoint  Tumor Volume (mm3)  Metastatic Sites  \
Mouse ID Drug Regimen
b128     Capomulin             0           45.000000                 0
         Capomulin             5           45.651331                 0
         Capomulin            10           43.270852                 0
         Capomulin            15           43.784893                 0
         Capomulin            20           42.731552                 0
         Capomulin            25           43.262145                 1
         Capomulin            30           40.605335                 1
         Capomulin            35           37.967644                 1
         Capomulin            40           38.379726                 2
         Capomulin            45           38.982878                 2

                          Sex  Age_months  Weight (g)
Mouse ID Drug Regimen
b128     Capomulin     Female           9          22
         Capomulin     Female           9          22
         Capomulin     Female           9          22
         Capomulin     Female           9          22
         Capomulin     Female           9          22
         Capomulin     Female           9          22
         Capomulin     Female           9          22
         Capomulin     Female           9          22
         Capomulin     Female           9          22
         Capomulin     Female           9          22

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [10]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen